<launch>
  <arg name="paused" default="false"/>
<!--  <arg name="use_sim_time" default="false"/>-->
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
 <!-- <arg name="gui" default="true"/> -->
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>
<!--  <arg name="world_name" default="indoor"/>-->
  <arg name="world_name" default="my_word"/> 
   <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/wu1.worldd"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="verbose" value="$(arg verbose)"/>
    <!--<arg name="world_name" value="$(find pja)/worlds/wu_w.world"/>-->
     <!--<arg name="world_name" value="$(find turtlebot3_gazebo)/world/$(arg world_name).world"/>-->
  </include>
</launch>
