<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>
  <arg name="world_name" default="my_word"/>



   <node pkg="tf" type="static_transform_publisher" name="base_body_broadcaster" args="0 0 -5 0 0 0 /base_footprint /body 100" />
   <node pkg="tf" type="static_transform_publisher" name="base_camera_broadcaster" args="0 0 0 0 0 0 /base_footprint /camera_init 100" />
   <node pkg="tf" type="static_transform_publisher" name="base_odom_broadcaster" args="0 0 0 0 0 0 /map /odom 100" />
   <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 /odom /base_footprint 100" />

   <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find cartographer_ros)/configuration_files
          -configuration_basename my.lua"
      output="screen">
    <remap from="points2" to="/cloud_registered" />
    <remap from="imu" to="/os_cloud_node/imu" />
    <remap from="odom" to="/Odometry" />
  </node>

 <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05 -publish_period_sec 0.5" />

</launch>
