<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>
  <arg name="world_name" default="my_word"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="verbose" value="$(arg verbose)"/>
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/zcy_scene61.world"/>
  </include>

  <arg name="robot_description" default="$(find pja)/urdf/pro3.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro  '$(arg robot_description)' "/>

  <!--<include file="$(find slam_bot)/launch/robot_description.xml"/>-->

  
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_robot" args="-urdf -param /robot_description -model robot -x -0 -y 0 -z 0 -R 0 -P 0 -Y 0.0"></node>
  <!--<-Y 0.23/>-->


  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="60.0" />
  </node>

   <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find cartographer_ros)/configuration_files
          -configuration_basename location.lua"
      output="screen">
    <remap from="points2" to="/os_cloud_node/points" />
    <remap from="imu" to="/os_cloud_node/imu" />
    <remap from="odom" to="/wheel_odom" />
    <remap from="scan" to="/rlscan" />
  </node>

 <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05 -publish_period_sec 0.5" />
  <!-- Move base -->
  <include file="$(find pja)/launch/move_base_single.launch">
    <arg name="cmd_vel_topic" value="/ccmd_vel" />
    <arg name="odom_topic" value="/wheel_odom" />
    <!--arg name="sensor_scan" value="velodyne_points" /-->
    <!--  <arg name="odom_topic" default="state_estimation" />-->
    <arg name="move_forward_only" value="true"/>
  </include>


  <!--<include file="$(find pja)/launch/tool.launch"/>-->

</launch>
